/* Mirror Mirror Start */
article {
    display: flex;
    flex-direction: column;
    /* flex-basis: 50%; */
    height: 50px;
    width: 200px;
    /* padding: 10px; */
    margin: 10px 0px;
    /* align-content: space-around; */
    justify-content: space-around;
    /* align-items: baseline; */


}

#first-article {
    /* display: flex;
    flex-direction: row; */
    border: solid blue 2px;
    clear: right;

}

#second-article {
    /* display: flex;
    flex-direction: row; */
    border: solid red 2px;

}
/* Mirror Mirror End */

